.video-js {
    position: absolute !important;
    width: 110vh !important;
    height: 100% !important;
}

/* AltHomeView */
/* .video-js {
    position: absolute !important;
    width: 100vw !important;
    height: 100vh !important;
    overflow: hidden;
} */